* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}


#div1 {
  background-color:  #F0F0F0;
  float: left;
  width: 20%;
  padding-left: 25px;
  padding-top: 20px;
}
#div2 {
  background-color:  #F0F0F0;
  float:left;
  width: 80%;
  padding: 20px;
}


.bar-of-results{
  width: 100%;
  display: block;
  padding-bottom: 20px;

}

.number-of-results{
  float: right;
  margin-right: 30px;
  font-family: 'Helvetica';
  color: #555;
  font-weight: bold;
}

.search-form {

}

.search-form,
label{
  display: block;
  margin-top: 5px;
  font-family: 'Helvetica';
}

.search-form,
input[type="checkbox"]{
  margin-right: 5px;
}

.search-form input[type="text"], select{
  display: block;
  height: 25px;
  width: 200px;
}

.search-form button{
  display: block;
  width: 200px;
}


.nav{
  height: 55px;
  width: 100%;
  align-items: center;
  margin-left: 25px;
  background-color: transparent;
}

.cardm {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 215px;
  border-radius: 5px;
  float: left;
  margin: 15px;
  background-color: white;
  padding: 8px;
  overflow: hidden;
}

.cardm:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.clearfix {
  width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.image-card{
  position: relative;
  top: 0;
  left: 0;
}

.image-base{
  position: relative;
  top: 0;
  left: 0;
}

.locateTextCard{
  font-size: small;
  color: #989898;
}

.titleTextCard{
  font-size: 1.2em;
  color: #1F1F1F;
  font-family: sans-serif;
  font-weight: 600;
  /*font-stretch: semi-condensed;*/
  display: block;
  bottom: 0;
  margin: 5px 5px 0 0px;
  /*text-shadow: 2px 2px 1px rgba(0,0,0,0.75);*/
}

.priceTextCard{
  display: block;
  float: right;
  margin-top: -10px;
  font-size: small;
  color: green;
}
